.footer {

    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px; 
    //align-items: center;
    padding-bottom: 20px; 


    &__menu {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        //text-align: center;
        list-style: none;
        gap: 20px; 

      &--item {
        background-color: black;
        padding: 5px 10px;
        border-radius: 5px;
        
      }
        
    }

    .footer__menu-link {
      color: white;
    }
    
    &__copy {
      max-width: 60px;    
    }
   
}

a:link { 
  text-decoration: none; 
} 
