.title {
    text-align: center;
    
    @media (min-width: 326px){
        margin-top: 200px;
    }

    @media (min-width: 768px){
        margin-top: 10px;
    }

    @media (min-width: 1024px){
        margin-top: 50px;
    }
}