.instructions{
    margin: 300px 400px 50px 400px; 
    line-height: 1.5;
    display: flex;
    flex-direction: column;

    &__firstTitle{
        text-align: center;
    }

    &__secondTitle{
        margin-top: 40px;
        text-align: center;
    }

    &__button{
        display: flex;
        font-size: 30px;
        cursor: pointer;
        margin-top: 40px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: black;
        color: white;
        align-self: center;
        

        &:hover{
            transform: scale(1.05);
        }

        &--text{
            color: white;
        }
    }
}